
    
.THIS {border-style: dotted;}
.THIS{border-style: dashed;}
.THIS{border-style: solid;}
.THIS{border-style: double;}
.THIS {border-style: groove;}
.THIS{border-style: ridge;}
.THIS {border-style: inset;}
.THIS {border-style: outset;}
.THIS {border-style: none;}
.THIS{border-style: hidden;}
.THIS{border-style: dotted dashed solid double;}


