:host {
    display: block;
    padding: 1rem;
    max-width: 800px;
    margin: 0 auto;
}

p {
    font-size: 1.5rem;
    color: #22a2ff;
    text-align: center;
    margin-top: 2rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

button {
    padding: 1rem 2rem;
    margin: 0 1rem;
    font-size: 1.2rem;
    background-color: #22a2ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    background-color: #0e86d4;
}

.my-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: #333;
}

input {
    font-size: 1rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

input:focus {
    outline: none;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

button[type="submit"] {
    padding: 1rem 2rem;
    margin-top: 1rem;
    background-color: #22a2ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

button[type="submit"]:hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    background-color: #0e86d4;
}
